
body {
    font: 10px sans-serif;
}

.bar rect {
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.data {
    width: 100px;
    height: 500px;
}

#data-div > div {
    float: left;
}

#graph {
    margin: 30px 30px;
}